* {
  margin: 0;
  padding: 0;
}

/* Animación de fondo */
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #4e54c8;
    overflow: auto;
}

.modal {
  background: -webkit-linear-gradient(#ef008f, #6ec3f4, #7038ff,#ffba27 );
  overflow: auto;
  z-index: 1055;
}

.background2 {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #4e54c8;
    overflow: auto;
}

/* Olas */
@import url(//fonts.googleapis.com/css?family=Lato:300:400);

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}

.subtitulos {
    font-family: 'Lato', sans-serif;
    font-weight:300;
    letter-spacing: 2px;
    font-size:28px;
    color: #333333;
    margin-right: 10%;
}

.mensajes {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 38px;
    color: #333333;
    margin-bottom: 5%;
    margin-right: 10%;
}

p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}

.logo {
  width:100px;
  border-radius: 70%;
  background: transparent;
  padding-right:15px;
  display:inline-block;
  vertical-align: center;
}

.inner-header {
  height:25vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.top-navigation {
    right: 10;
    top: 0;
    color: white;
}

/*Flexbox for containers*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix para safari*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animación Olas*/
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

/*Mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

  /* Botones */
  .boton {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  .boton:hover, .boton:focus {
    color: #fff;
    outline: 0;
  }

  .third {
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }

  .third:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    color: #333333;
  }

  .card {
    height: 20%;
    width: 100%;
    padding: auto;
    margin: 2%;
    background: transparent;
    border: none;
    
  }

  .contenido-cards {
    margin: 20px;
    padding: 5%;
  }

  .card-free {
    background: linear-gradient(69.06deg,#b84fdd -26.76%,#4965f4 44.6%,#2efb74 132.54%);
    font-family: Roboto,Open Sans,Arial,sans-serif;
    max-width: 600px;
    padding: 16px 16px 8px;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
  }

  .title-free {
    color: #333333;
  }

  .boton-free {
    margin: 3%;
    background: #333333;
    box-sizing: border-box;
    justify-content: center;
    line-height: 14px;
    max-width: 283px;
    padding: 8px 20px;
    text-align: center;
    width: 100%;
    font-size: 14px;
    height: 42px;
    border-radius: 400px;
    align-items: center;
  }

  .divider {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10%;
    margin-right: 10%;
  }

  .divider-line {
    background: linear-gradient(90deg,currentColor,currentColor 84.88%,rgba(0,0,0,0));
    flex-shrink: 1;
    height: 2px;
    width: 100%;
    margin-right: 10%;
  }

  .divider-text {
    width: fit-content;
    flex-shrink: 0;
    font-size: 34px;
    font-weight: 700;
    padding-left: 16px;
    padding-right: 16px;
    text-transform: uppercase;
    color: white;
    margin-right: 10%;
  }

  /* Buscador */
  .containerBuscador{
    color: black;
    display: flex;
    justify-content:space-around;
    flex-wrap:wrap;
    margin-right: 10%;
}

/* Select canciones */
.selectUsuario {
  color: black;
  background: -webkit-linear-gradient(#ef008f, #6ec3f4, #7038ff,#ffba27 );
  border: solid;
  border-radius: 8%;
  width: 20%;
  height: 37em;
  position: fixed;
  bottom: 1em;
  right: 1em;
  float: right;
  text-align: left;
  margin-right: 2%;
  padding: 16px 16px 8px;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px black;
  z-index: 100;
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: center;
}

/* Login */


/* Footer */
.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}
